.card{
    display: flex;
    align-items: end;
    background-color: rgb(0 0 0 / 70%);
    min-width: 400px;
    height: 150px;
    gap: 10%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
}

.card--img{
    align-items: baseline;
}

.card--img > img{
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.card--details{
    height: 100%;
    font-family: Poppins;
}

.show--name, .rating{
    color: white;
}

.genre, .network{
    color:#60687E;
    font-weight: 400;
}

.status{
    color: #F0A500;
}

@media (max-width: 600px){
    .card{
        width: 60%;
        height: fit-content;
        align-items: center;
        gap: 10px;
        margin-top: 15px;
    }
    .card--img > img{
        height: 135px;
    }
    .card--details{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }
}