.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px black;
  background-size: cover;
  background-position: center;
  color: white;
  max-width: 500px;
  width: 100%;
  height: 80vh;
  padding: 0.5rem;
}

input{
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  padding: .3rem;
  margin: .5rem;
  border: none;
  transition: border-color .3s ease-in;
}
input:focus{
  outline: none;
  border-radius: none;
  border: 2px solid;
  border-color: #03132C;
}

button{
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-weight: 400;
  color: #747264;
  box-sizing: border-box;
  font-size: 20px;
  margin: .5rem;
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: white;
}
button:hover{
  background-color: #186383;
  color: white;
  box-sizing: border-box;
  border: 1px solid #FCAA8E;
}

.material-icons{
  display: flex;
  align-items: center;
}
